@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'TRIAL_Oceanic-Bold';
  src: url('../../public/fonts/TRIAL_Oceanic-Bold.otf');
}

@font-face {
  font-family: 'TRIAL_Oceanic-Extrabold';
  src: url('../../public/fonts/TRIAL_Oceanic-Extrabold.otf');
}

@font-face {
  font-family: 'TRIAL_Oceanic-Light';
  src: url('../../public/fonts/TRIAL_Oceanic-Light.otf');
}

@font-face {
  font-family: 'TRIAL_Oceanic-Medium';
  src: url('../../public/fonts/TRIAL_Oceanic-Medium.otf');
}

@font-face {
  font-family: 'TRIAL_Oceanic-Poster';
  src: url('../../public/fonts/TRIAL_Oceanic-Poster.otf');
}

@font-face {
  font-family: 'TRIAL_Oceanic-Regular';
  src: url('../../public/fonts/TRIAL_Oceanic-Regular.otf');
};

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../../public/fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('../../public/fonts/Roboto-Black.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../../public//fonts//Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url(../../public/fonts/Montserrat.ttf);
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('../../public/fonts/Montserrat-Black.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../../public/fonts/Montserrat-Bold.ttf');
}

.button-test {
  background-color: yellow;
}

.button-test:hover {
  background-color: red;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in {
  animation-name: slideIn;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

.icon:hover {
  fill: #0D87FF; /* Replace this with the desired hover color */
}